/*ABOUT ME SECTION*/

.about-me-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.profile-container{
    width: 100%;
    height: fit-content;
}

.profile-container::after {
    content: "";
    display: table;
    clear: both;
}

/*ABOUT ME TEXT*/

.about-wrapper{}

.about-header {
    display: flex;
    width: fit-content;
    align-items: baseline;
    gap: 1rem;
    padding-bottom: 0.25rem;
    border: 2px white;
    border-style: none none solid none;
}

.about-title {
    font-weight: bold;
    font-size: clamp(0.9rem,3vw,1.5rem);
    white-space: nowrap;
}

.about-subtitle {
    font-size: clamp(0.6rem,3vw,1rem);
    color: #ccc;
    white-space: nowrap;
}

.about-text {
    font-family: Abordage, sans-serif;
    font-size: clamp(0.75rem,2.7vw,0.9rem);
    padding-top: 0.75rem;
    text-align: left;
    user-select: text;
}

/*PHOTO*/

.photo-container {
    width: 40%;
    max-width: 14rem;
    float: right;
    margin: 0 0 1rem 2rem;
}

.photo-wrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: end;
}

.modal-image.about-me {}

/*LINKS*/

.icons-wrapper.about-me {
    width: 100%;
}

.icon-wrapper.about-me {
    width: 100%;
    height: clamp(1rem,3vw,1.5rem);
}

.icon-label.about-me {
    display: none;
}

/*SKILLS*/

.skills-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 1rem;
}

.skills-grid-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    gap: 1rem;

}

.about-title.skills {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.skills-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5%;
}

.skill{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    transition: transform 0.2s ease;
    transform-origin: center;
    max-width: 5rem;
}

.skill-icon-wrapper {
    position: relative;
}

.skill-icon {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
}

.blank-planet {
    filter: invert(1);
    width: 100%;
}

.skill-label {
    font-size: clamp(0.5rem,2.1vw,0.9rem);
    white-space: nowrap;
}

.skill:hover {
    transform: scale(1.25);
    filter: sepia(1) saturate(100) hue-rotate(40deg);
    cursor: pointer;
}


@media screen and (max-width: 420px){
    .about-title{
        font-size: 0.7rem;
    }

    .about-subtitle {
        font-size: 0.5rem;
    }
}