.main-page {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: white;
    font-size: calc(10px + 2vmin);

    overflow-y: scroll;
    overflow-x: hidden;
}

.center-content-container {
    min-width: 100vw;
    height: 100vh;
    min-height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;

    transform-origin: center;
}

.mobile-projects {
    z-index: 10;
}


.mobile-title {
    width: fit-content;
    padding: 10px 40px;
    background-color: #0a0a0a;
    border: 2px hidden white;
    color: #fff;
    margin: -3rem auto 2rem auto;
    font-size: 1.75rem;
    font-weight: bold;
}
