:root{
    --animation-time: 1s;
    --fade-time: 0.4s;
}

.modal-background {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    z-index: 12;
    background-color: rgba(10,10,10,0.9);
    /*padding-bottom: 1000px;*/
}

.modal-wrapper {
    display: block;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: rgba(10,10,10,1);
    color: white;

    border: 2px solid white;
    z-index: 12;
}

.clickable-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 11;
    /*padding-bottom: 1000px;*/
}

.modal {
    display: flex;
    flex-direction: column;
    width: 45rem;
    height: 45rem;
    max-width: 45rem;
    max-height: 45rem;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: scroll;
    overflow-x: hidden;

    opacity: 0;
    animation: modal-expand var(--animation-time) cubic-bezier(0.16, 1, 0.3, 1) forwards, fade-in 0.6s ease forwards var(--fade-time);

    z-index: 9;
}

.modal-title {
    color: white;
    font-size: 2.25rem;
    font-weight: bold;
}

.modal-image {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid;
}

.modal-image.subImage {
    max-height: 40%;
    border: 1px solid;
}

.modal-image.false:hover {
    cursor: zoom-in;
    box-shadow: 0 0 5px 2px white;
}

/*SPECIAL CASES*/

.digital-duck {
    min-width: 300px;
    min-height: 150px;
}

.youtube-video {
    overflow: visible;
    border: 1px solid;
}

.youtube-video:hover {
    box-shadow: 0 0 5px 2px white;
}

.river-cleanup {
    min-width: 300px;
    min-height: 342px;
}

/*MODAL HEADER*/

.modal-header {
    width: fit-content;
    max-width: 45rem;
    height: 2.5rem;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;

    border: 2px white;
    border-style: none none solid none;

    overflow: hidden;

    animation: header-expand var(--animation-time) cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.modal-header-info {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.modal-header-text {
    color: white;
    font-size: 1.5rem;
    align-self: center;
}

.modal-header-text.title {
    font-size: 0.95rem;
    padding-left: 10px;
    justify-self: left;
    white-space: nowrap;
}

.modal-header-text.back {
    font-family: Abordage, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header-image {
    height: 1.5rem;
    filter: invert(1);
}

.modal-header-buttons {
    display: flex;
    flex-direction: row;
    justify-self: right;
}

.modal-header-button {
    width: 2.5rem;
    height: 2.5rem;

    border: 2px white;
    border-style: none none none solid;

    display: flex;
    justify-self: right;
    align-items: center;
    justify-content: center;
}

.modal-header-button:hover {
    background-color: #333;
    cursor: pointer;
}

/*ABOUT ME*/

/*.modal.about-me {*/
/*    max-width: 35rem;*/
/*    max-height: 35rem;*/
/*}*/

/*ANIMATIONS*/

@keyframes modal-expand {
    0% { width: 0; height: 0; }
    100% {width: 45rem; height: 45rem; }
}

@keyframes fade-in {
    0% { opacity: 0 }
    100% {opacity: 1}
}

@keyframes header-expand {
    0% { width: 200px; }
    100% {width: 45rem; }
}

/*SCREEN SIZE*/

@media screen and (max-width: 800px) {
    .modal{
        max-width: 90vw;
        max-height: 90vh;
    }

    .modal-header{
        max-width: 90vw;
    }

    @keyframes modal-expand {
        0% { width: 0; height: 0; }
        100% {width: 90vw; height: 45rem; }
    }

    @keyframes header-expand {
        0% { width: 2vw; }
        100% {width: 90vw; }
    }
}

@media screen and (max-width: 500px){
    .modal{
        max-width: 90vw;
        max-height: 80vh;
    }

    .modal-header{
        max-width: 90vw;
    }

    @keyframes modal-expand {
        0% { width: 0; height: 0; }
        100% {width: 90vw; height: 80vh; }
    }

    @keyframes header-expand {
        0% { width: 2vw; }
        100% {width: 90vw; }
    }
}

@media screen and (max-height: 800px){
    .modal{
        max-height: 90vh;
    }

    @keyframes modal-expand {
        0% { width: 0; height: 0; }
        100% {width: min(45rem, 90vw); height: 80vh; }
    }
}

/*SMALLER PHONES*/

@media screen and (max-width: 400px){
    .modal{
        max-height: 75vh;
    }

    .modal-header-text.title {
        font-size: 0.8rem;
    }
}